body {
    padding: 0px;
    margin: 0px;
    font-family: "Lexend Deca";
}

 :root {
    --color-sedans: hsl(31, 77%, 52%);
    --color-suvs: hsl(184, 100%, 22%);
    --color-luxury: hsl(179, 100%, 13%);
    --color-branco-transparente-paragrafos: hsl(0, 0%, 100%, 0.75);
    --color-cinza-plano-de-fundo-cabecalhos-botoes: hsl(0, 0%, 95%);
}

main {
    height: max-content;
    background-color: hsl(0, 0%, 95%);
}

.descricao__geral {
    flex-direction: column;
    padding: 30px;
    display: flex;
    color: var(--color-cinza-plano-de-fundo-cabecalhos-botoes);
}

.box__sedans {
    background-color: var(--color-sedans);
    border-radius: 10px 10px 0px 0px;
}

.box__luxury {
    background-color: var(--color-luxury);
    border-radius: 0px 0px 10px 10px;
}

.box__suvs {
    background-color: var(--color-suvs);
}

.btn_sedans {
    color: var(--color-sedans);
    font-weight: 700;
    border: 1px solid var(--color-sedans);
}

.btn_suvs {
    color: var(--color-suvs);
    font-weight: 700;
    border: 1px solid var(--color-suvs);
}

.btn_luxury {
    color: var(--color-luxury);
    font-weight: 700;
    border: 1px solid var(--color-luxury);
}

.box__geral {
    padding: 20px 40px;
    text-align: left;
}

.texto__descricao {
    padding: 20px 0px;
    color: var(--color-branco-transparente-paragrafos);
    line-height: 1.6em;
}

.titulo__descricao,
.sedans,
.luxury,
.luxury {
    font-family: 'Big Shoulders Display';
    font-weight: 700;
    font-size: 40px;
    color: var(--color-branco-transparente-paragrafos);
}

.img__carro {
    margin: 20px 0px;
}

.button__descricao {
    font-weight: 700;
    padding: 40px 0px;
    text-align: left;
}

.btn__more {
    cursor: pointer;
    border-radius: 20px;
    padding: 10px 25px;
}

@media(min-width: 375px) {
    main {
        margin: 20px;
    }
    .descricao__geral {
        flex-direction: row;
        padding: 10rem;
    }
    .box__geral {
        padding: 40px;
        text-align: left;
    }
    .box__sedans {
        border-radius: 10px 0px 0px 10px;
    }
    .box__luxury {
        border-radius: 0px 10px 10px 0px;
    }
    .btn__more:hover {
        color: var(--color-cinza-plano-de-fundo-cabecalhos-botoes);
        border: 1px solid white;
        cursor: pointer;
    }
    .btn_sedans:hover {
        background-color: var(--color-sedans);
        border: 1px solid var(--color-cinza-plano-de-fundo-cabecalhos-botoes);
    }
    .btn_suvs:hover {
        background-color: var(--color-suvs);
    }
    .btn_luxury:hover {
        background-color: var(--color-luxury);
    }
}